$white: #FFFFFF;
$grey: #E1E7ED;
$lightblue: #00B1FF;
$softblue: #1E3554;

$bg-white: $white;
$bg-grey: $grey;
$bg-softgrey: #F5F7F9;
$bg-blue: #112948;
$bg-softblue: $softblue;
$bg-lightblue: $lightblue;

$shadow-grey: $grey;

$border-softblue: $softblue;

$text-primary: #1A3150;
$text-secondary: #6F8CAA;
$text-highlight: $lightblue;
$text-white: $white;
$text-grey: $grey;