$bg-white: #FFFFFF;
$bg-grey: #E1E7ED;
$bg-softgrey: #F5F7F9;
$bg-blue: #112948;
$bg-softblue: #1E3554;
$bg-lightblue: #00B1FF;

$shadow-grey: #E1E7ED;

$text-primary: #1A3150;
$text-secondary: #6F8CAA;
$text-highlight: #00B1FF;